.footer {
  overflow: hidden;
  padding: 60px 0;
  position: relative;
  white-space: nowrap;
  background-color: rgb(152, 165, 178);
}
.img-container img:hover{
  cursor: pointer;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.img-container {
  display: inline-block;
  animation: 15s slide infinite linear;
}

.footer:before,
.footer:after {
  position: absolute;
  top: 0;

  width: 250px;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  content: "";
  z-index: 2;
}

.footer:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.footer:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
/* .footer:hover .img-container {
  /* animation-play-state: paused; */
/* }  */
.img-container img {
  height: 200px;
  margin: 0 40px;
}
