.App {
  font-family: sans-serif;
  text-align: center;
}

.leaderboard-container {
  max-height: 400px;
  overflow-y: auto;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.new-entry {
  animation: highlight 1s ease-in-out;
}

@keyframes highlight {
  from {
    background-color: yellow;
  }
  to {
    background-color: white;
  }
}

button.delete {
  background-color: red;
  color: white;
}
